.alert-box{
    background: rgba(70, 232, 238, 0.623);
    color:  blue;
    padding: 20px;
    border-radius: 5px;
    display:none;
}

.yellow-bg{
    background: yellow;
}

.main-background{
    background-image: url(wallpaper.jpg);
    background-size: cover;
    color: white;
}

.black-background{
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    transform: translateY(-3000px);
    display: block;
    transition: all 1s;
}

.white-background{
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.slide-down{
    transform: translateY(0px);
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: transparent;
    position: fixed;
    z-index: 5;
    width: 100%;
    color: white;
}

.nav-black{
    background: white;
    color: black;
}

.nav-sub{
    display: none;
}

#email-alert{
    display: none;
}

#pw-alert{
    display: none;
}

.left-menu{
    width: 150px;
    height: 100%;
    background: black;
    color: white;
    position: fixed;
    margin-left: -150px;
}

.slide-container{
    width: 300vw;
    transition: transform 1s;
}

.slide-box{
    height: 50vw;
    width: 100vw;
    float: left;
}

.slide-next{
    position: absolute;
    right: 0;
    top: 45%;
}

.slide-pre{
    position: absolute;
    left: 0;
    top: 45%;
}
.slide-pre-triger{
    transform: translateX(100vw);
}

.nav-bar{

}

ul.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
  }
  ul.list::after {
	content: '';
	display: block;
	clear: both;
  }
  .tab-button {
	display: block;
	padding: 10px 20px 10px 20px;
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
	color: grey;
	text-decoration: none;
	cursor: pointer;
  }
  .active {
	border-top: 2px solid orange;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid white;
	border-left: 1px solid #ccc;
	color: black;
	margin-top: -2px;
  }
  .tab-content {
	display: none;
	padding: 10px;
  }
  .show {
	display: block;
  }